

<span class="info">
  <p>
    <b>A verification code has been sent to /Email ID/ to verify it's really you.</b>
  </p>
</span>

<span class="sign-up-input">
  <input placeholder="Code" required/>
  <label>
    Code
  </label>

  <span class="suffix-icon" style="top: 17%">
    <button mat-icon-button>
      <mat-icon><i class="ph-arrow-clockwise"></i></mat-icon>
    </button>
  </span>
  <mat-error>Error!</mat-error>

  <span class="verify-button">
    <button mat-flat-button
            class="app-button"
            (click)="VerifyCode()"
            style="
            width: max-content;
            background: #6AC5AB;
            border: 2px solid #293F4B;border-radius: 12px">
      <ng-container *ngIf="!verifying;else loader">
        Verify
      </ng-container>
      <ng-template #loader>
        <span class="loader">
        </span>
      </ng-template>

    </button>

    <ng-template>

    </ng-template>


  </span>

</span>

