:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  place-items: center;
  /*background-color: #2F2F2F;*/
  /*color: white;*/
}

nav{
  height: 7%;
  width: 95%;
  padding: unset;
  max-width: 1600px;
  margin: 5px auto;
  /*background-color: #504F6D;*/
}

.container{
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  max-height: 80vh;
  /*margin: 5px auto;*/

}

.nav-bar{
  width: 15%;
  max-width: 20%;
  min-width: 250px;
  height: 100%;
  /*background: #C4C4C4;*/
  display: flex;
  flex-direction: column;

  border-right: 2px solid grey;
}

.nav-bar button,.nav-bar a{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
  padding: 5%;
  margin: 3% 2%;
  cursor: pointer;
  text-decoration: none;

}
.nav-bar button{
  opacity: 0.4;
}


.nav-bar .button-link{
  color: cornflowerblue !important;
}

.button-wrapper{
  width: 200px !important;
  min-width: 100px;
  max-width: 200px;
  height: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
}
.button-wrapper mat-icon{
  width: 30%;
  display: flex;
}
.button-wrapper *:nth-child(2){
  width: 70%;
  text-align: start;
  display: flex;
  justify-content: start;
}

.primary-content{
  width: 80%;
  max-width: 80%;
  height: 100%;
  /*background: #C4C4C4;*/
  display: flex;
  flex-direction: column;
  /*border-right: 2px solid grey;*/
}

.focus{
  /*background-color: #cacaca !important;*/
  opacity: 1 !important;
}

