
<nav>
  <span>
    <a routerLink="/">
      <img src="../../../assets/icons/ic_app_logo.png">
    </a>
  </span>
  <span>
    <span>
      Don't have an account?
      <a routerLink="/sign-up" class="link" style="color: #B14048;">
        Sign Up!
      </a>
    </span>
  </span>
</nav>


<div class="container">
  <fieldset class="sign-in-box" [disabled]="loading">

    <span class="top">
      <h1>Welcome Back</h1>
      <label class="sub-title">Login to your account</label>

      <span class="federated-sign-ins">
        <button mat-button (click)="SignInWithGoogle()">
          <mat-icon><img src="assets/icons/google.png"></mat-icon>
          <mat-label style="margin: 5px">Google</mat-label>
        </button>
      </span>
    </span>

    <span class="divider-with-text">
      or continue with
    </span>

    <form [formGroup]="signInForm" (ngSubmit)="ValidateSignIn()">

    <span class="error-display-container" *ngIf="errorText!=''" @SlideUpDown>
      <label>
        {{errorText}}
      </label>
    </span>

      <span class="sign-up-input">
        <input placeholder="Email" formControlName="username"/>
      </span>

      <span class="sign-up-input">
        <input placeholder="Password"
               formControlName="password"
               type="{{showPassword?'':'password'}}">
        <span class="suffix-icon">
          <button *ngIf="!showPassword;else hidePassword" (click)="showPassword = true" mat-icon-button>
            <mat-icon><i class="ph-eye"></i></mat-icon>
          </button>
          <ng-template #hidePassword>
            <button mat-icon-button (click)="showPassword = false">
              <mat-icon><i class="ph-eye-slash"></i></mat-icon>
            </button>
          </ng-template>

        </span>
      </span>

      <span class="sign-up-input" style="flex-direction: row;font-size: smaller;justify-content: space-between">
        <mat-slide-toggle>Remember Me</mat-slide-toggle>
        <a class="link" style="font-size: 14px;color: #A7A6A5;font-weight: normal">Forgot Password</a>

      </span>

      <span class="sign-up-input" style="place-items: center">
        <button class="app-button"
                type="submit"
                [class.disabled]="signInForm.invalid"
                [disabled]="this.signInForm.invalid"
                *ngIf="!loading;else loader"
                (click)="ValidateSignIn()" mat-button>Log In</button>
        <ng-template #loader>
          <button class="app-button" mat-button>
            <span class="loader"></span>
          </button>
        </ng-template>
      </span>
    </form>

    <span class="backdrop">
      <span class="laptop-screen">
        <span class="user-icon">
          <img src="assets/gifs/user_icon.gif">
        </span>
        <span class="display">
          <img src="assets/gifs/screen_base3.gif">
        </span>
        <span class="base">
          <img src="assets/icons/laptop-base.svg">
        </span>
      </span>
    </span>

  </fieldset>

</div>
