
<nav>
  <span>
    <a routerLink="/">
      <img src="../../../assets/icons/ic_app_logo.png">
    </a>
  </span>
  <span>
    <span>
      Have an account?
      <a routerLink="/auth" class="link" style="color: #B14048;">
        Sign In!
      </a>
    </span>
  </span>
</nav>


<div class="container">
  <fieldset class="sign-in-box" [disabled]="loading">
    <label style="font-size: 32px">Transfer Ideas with <b>zipzapzwoop</b></label>
    <label class="sub-title">Getting Started is Easy</label>

    <span class="federated-sign-ins">
      <button mat-button (click)="SignUpWithGoogle()">
        <mat-icon><img src="assets/icons/google.png"></mat-icon>
        <mat-label style="margin: 5px">Google</mat-label>
      </button>
    </span>

    <span class="divider-with-text">
      or continue with
    </span>

    <span class="error-display-container" *ngIf="errorText!=''" @SlideUpDown>
      <label>
        {{errorText}}
      </label>
    </span>

    <form [formGroup]="signUpForm">

      <span class="sign-up-input">
        <input placeholder="FullName" formControlName="fullName"/>
      </span>

      <span class="sign-up-input">
        <input placeholder="Email" formControlName="email"/>
      </span>



      <span class="sign-up-input">
        <input placeholder="Password" formControlName="password" type="{{showPassword?'':'password'}}">
        <span class="suffix-icon">
          <button *ngIf="!showPassword;else hidePassword" (click)="showPassword = true" mat-icon-button>
            <mat-icon><i class="ph-eye"></i></mat-icon>
          </button>
          <ng-template #hidePassword>
            <button mat-icon-button (click)="showPassword = false">
              <mat-icon><i class="ph-eye-slash"></i></mat-icon>
            </button>
          </ng-template>
        </span>
      </span>

      <span class="sign-up-input">
        <input placeholder="Confirm Password" formControlName="confirmPassword"/>

      </span>


      <span class="sign-up-input" style="place-items: center">
        <button class="app-button"
                *ngIf="!loading;else loader"
                [class.disabled]="signUpForm.invalid"
                [disabled]="signUpForm.invalid"
                (click)="ValidateSignUp()"
                mat-button>Create Account</button>
        <ng-template #loader>
          <button class="app-button" mat-button>
            <span class="loader"></span>
          </button>
        </ng-template>
      </span>
    </form>

    <span class="backdrop">
      <span class="laptop-screen">
        <span class="user-icon">
          <img src="assets/gifs/user_icon.gif">
        </span>
        <span class="display">
          <img src="assets/gifs/screen_base.gif">
        </span>
        <span class="base">
          <img  src="assets/icons/laptop-base.svg">
        </span>
      </span>
    </span>

  </fieldset>

</div>
