*{
  display: flex;
  font-family: Nunito, sans-serif;
  position: relative;
}

:host{
  width: 100%;
  height: 4em;
  min-height: 25em;
  max-height: 25em;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  overflow-y: auto;
  /*justify-content: space-evenly;*/
  /*place-items: center;*/
  overflow: clip;
}


.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid #6AC5AB;
  margin: auto;
}



.download-action{
  width: 100%;
  min-height: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  place-items: center;
}
.content-container{
  width: 100%;
  height: 100%;
  max-height: 21em;
  flex-direction: column;
  /*justify-content: center;*/
  place-items: center;
  overflow-y: auto;
  text-align: center;
}
.content-container > *{
  flex-direction: column;
  height: 100%;
}
.content-container .content-header{
  font-size: 1.2em;
  font-weight: bold;
  color: lightslategray;
  height: 200%;
  justify-content: center;
  place-items: center;
  text-align: center;
  margin: 5% auto;
}
.content-container .content-header label{
  width: 100%;
  text-align: center;
  justify-content: center;
}
.content-container .details{
  width: 80%;
  font-size: 1.2em;
  margin-top: 1em;
  height: auto;
}
.content-container .details > label{
  text-align: start;
  border-bottom: 1px solid slategray;
  padding-top: 1ch;
  /*padding-bottom: 1ch;*/
}
.content-container .details .message{
  min-height: 8ch;
}
.content-container .details .file{
  width: 100%;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid slategray;
  transition: all 500ms ease-in-out;
  padding: 1ch 0;
  cursor: pointer;
}
.content-container .details .file *{
  cursor: pointer;
}
.content-container .details .file:hover{
  background-color: rgba(0, 0, 0, 0.10);
}

.file-preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


mat-icon{
  height: 100%;
  width: 100%;
  place-items: center;
  justify-content: center;
  display: flex;
}
.content-container ion-icon{
  min-height: 100px;
  height: 100%;
  width: 100%;
}

.error-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  margin: auto;
  height: 90%;
  width: 100%;
}



@media screen and (max-width: 500px){
  :host{
    height: 100% !important;
    max-height: 100% !important;
  }
  .content-container{
    height: max-content !important;
    max-height: 80% !important;
    margin: auto;
  }
  .error-container{
    justify-content: space-evenly;
  }
}
