<header class="header-title">
  My Transfer
</header>
<mat-divider></mat-divider>

<div class="container">

  <div class="axqbh1">
    <span class="search-bar">
      <input placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="OnSearchChange($event)">
    </span>
    <ng-container *ngIf="sessions!=undefined;else skeletonLoader">

      <ng-container *ngIf="sessions.length!=0;else emptyApi">
        <button mat-button
                [class.focus]="session.id == sessionOnView.id"
                *ngFor="let session of sessions" (click)="onSelected(session)">
          <span class="axqbh2">
            <div>
              <span class="icon">
                <mat-icon *ngIf="session.mailInfo == null;else mailIcon">link</mat-icon>
                <ng-template #mailIcon>
                  <mat-icon>mail</mat-icon>
                </ng-template>
              </span>
            </div>
            <div>
              <label class="recipients">
                {{session.mailInfo == null?session.linkInfo?.Title:session.mailInfo?.Title | ShortifyText:14 | NonNullableText:'Empty_text'}}
              </label>

              <span class="recipient-message">
                {{session.mailInfo == null?session.linkInfo?.Message:session.mailInfo?.Message | ShortifyText:14 | NonNullableText:'Empty_text'}}
              </span>
            </div>
            <div style="
            display: flex;
            justify-content: center;
            place-items: center;
            position: absolute;
            top: 50%;
            right: 2%;
            transform: translateY(-50%);">
              <span *ngIf="hasExpired(session)<0" style="margin: 2%;color: darkred;display: flex;justify-content: center;place-items: center">
                !
              </span>
            </div>

          </span>
          <mat-divider></mat-divider>

        </button>
      </ng-container>


    </ng-container>
    <ng-template #skeletonLoader>
      <button mat-button *ngFor="let _ of range(10)">
        <span class="axqbh2 skeleton-load">
          <div>
            <span class="icon">
            </span>
          </div>
          <div>
            <span class="recipients">
              Recipient
            </span>
            <span class="recipient-message">
              message
            </span>
          </div>
        </span>
        <mat-divider></mat-divider>
      </button>
    </ng-template>

  </div>

  <ng-template #emptyApi>
    <div class="axqbh1" style="justify-content: center;place-items: center;border: none">
      <img class="empty-icon-display" src="assets/icons/empty-state.webp"/>
      <span>
        <small class="dull" style="text-align: center;justify-content: center;display: flex;flex-direction: column">
          Your transfer history seems to be empty.
          <br>
          <a href="">Send a file?</a>
        </small>
      </span>
    </div>

  </ng-template>

  <div class="bqauc1" *ngIf="sessionOnView!=undefined">
    <span class="axqbh2 header">
      <div style="width: max-content">
        <span class="icon">
          <mat-icon *ngIf="sessionOnView.mailInfo == null;else mailIcon">link</mat-icon>
          <ng-template #mailIcon>
            <mat-icon>mail</mat-icon>
          </ng-template>
        </span>
      </div>
<!--      <div *ngIf="sessionOnView!=undefined && sessionOnView.mailInfo!=undefined && sessionOnView.mailInfo!=null;else linkDetails">-->
<!--        <span class="recipients">-->
<!--          Recipient-->
<!--        </span>-->
<!--        <span style="padding-left: 2%">-->
<!--          <small class="dull">-->
<!--            to 'recipients'-->
<!--          </small>-->
<!--        </span>-->
<!--      </div>-->

<!--      <ng-template #linkDetails>-->
      <div>
        <span class="recipients">
          {{LinkTransfer?sessionOnView.linkInfo?.Title:sessionOnView.mailInfo?.Title | NonNullableText:'Empty_Title' }}
        </span>

        <span style="padding-left: 2%">
          <small class="dull">
            {{LinkTransfer?'Link Created on':'Sent on'}} {{sessionOnView.SentOn | date:'medium'}}
          </small>
        </span>
      </div>

<!--      </ng-template>-->
      <div
        class="session-actions">
        <button
          #linkBoard="Tooltip"
          Tooltip
          [tooltipText]="'Link copied to clipboard'"
          tooltipAlign="bottom"
          *ngIf="(DaysRemaining>=0)"
          matTooltip="Copy Link"
          (click)="linkBoard.Show()"
          [cdkCopyToClipboard]="CopyLink"
          mat-icon-button>
          <mat-icon>link</mat-icon>
        </button>
        <button
          matTooltip="Info"
          [matMenuTriggerFor]="infoMenu"
          mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
        <mat-menu #infoMenu xPosition="before" yPosition="below">
          <span class="info-body">
            <table>
              <tr>
                <td style="justify-content: center;flex-direction: column;place-items: center">
                  <span class="expiry-length" style="background-color: {{(DaysRemaining<=0)?'darkred':'green'}} ">
                    {{DaysRemaining<=0? '!' : '✓'}}
                  </span>
                  <small class="dull">
                    {{DaysRemaining <0 ? 'Expired on ': 'Expires on '}} {{Expiry | date}}
                  </small>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="dull">
                    {{LinkTransfer?'Created':'Sent'}}
                  </small>
                </td>
                <td>
                  <small class="dull">{{sessionOnView.SentOn | date:'medium'}}</small>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="dull">
                    Link
                  </small>
                </td>
                <td>
                  <small class="dull" style="color: blue;text-decoration: underline">
                    <a [href]="CopyLink" target="_blank" style="display: flex;place-items: baseline;">
                      open<mat-icon style="width: 15px;height: 15px;font-size: 12px">open_in_new</mat-icon>
                    </a>
                  </small>
                </td>
              </tr>
            </table>
          </span>
        </mat-menu>
      </div>

    </span>
    <span class="content" style="flex-direction: column">
      <h2>
        {{LinkTransfer?sessionOnView.linkInfo?.Title:sessionOnView.mailInfo?.Title | NonNullableText:'Empty_Title'}}
      </h2>
      <span class="recipients dull">
        <small *ngIf="!LinkTransfer && sessionOnView.mailInfo!=null">
          sent to {{sessionOnView.mailInfo!.Recipients[0]}}
          <a style="text-decoration: underline;cursor: pointer" [matMenuTriggerFor]="recipientList">
            {{((sessionOnView.mailInfo!.Recipients.length>1)? '+' + ((sessionOnView.mailInfo!.Recipients!.length-1) + ' Other(s)') : '')}}
          </a>
        </small>
      </span>
      <mat-menu #recipientList>
        <span style="display: flex;flex-direction: column;width: 250px;padding: 15px;gap: 5px;">
          <h4>
            Recipient List
          </h4>
          <ng-container *ngIf="!LinkTransfer">
            <small class="dull" *ngFor="let recipient of sessionOnView.mailInfo!.Recipients">
              {{recipient}}
            </small>
          </ng-container>
        </span>
      </mat-menu>
      <p style="font-weight: normal">
        {{LinkTransfer?sessionOnView.linkInfo?.Message:sessionOnView.mailInfo?.Message | NonNullableText:'Empty_Message'}}
      </p>
      <span style="margin: 4% auto;height:1px;width: 100%;background-color: #c9c9c9;"></span>
      <h3>
        Files
      </h3>
      <small class="dull">
        {{sessionOnView.files?.length ?? 0}} files ,{{toNumber(sessionOnView.fileSize) | MemUnits}}
      </small>
      <span style="margin: 4% auto;height:1px;width: 100%;background-color: #c9c9c9;"></span>
      <span class="content grid-view" style="flex-direction: column;padding: 4%">
        <span
          class="my-transfer-attachment-viewer"
          [matMenuTriggerFor]="attachmentViewerContextMenu"
          [matTooltip]="(DaysRemaining<0)?'preview not available':file.identifier"
          *ngFor="let file of sessionOnViewFiles">

          <img *ngIf="fileIcon(file) && DaysRemaining>=0;else fileIconShow" [src]="SrcUrl(file)" loading="lazy"/>

          <ng-template #fileIconShow>
            <mat-icon><i class="ph-file-cloud"></i></mat-icon>
          </ng-template>
          <span class="_content">
            <small class="header">
              {{file!.identifier | ShortifyText}}
            </small>
            <span class="details">
              <small>
                {{toNumber(file!.size ?? 0) | MemUnits}}
              </small>
              <small>
                {{fileExtension(file) ?? ''}}
              </small>
            </span>
          </span>


          <mat-menu #attachmentViewerContextMenu>
            <button mat-button [cdkCopyToClipboard]="SrcUrl(file)">
              <mat-icon>
                <i class="ph-copy-simple"></i>
              </mat-icon>
              <mat-label>
                Copy Url
              </mat-label>
            </button>

          </mat-menu>


        </span>

      </span>
      <small *ngIf="sessionOnView!=undefined && sessionOnView.files!.length>18" style="color: darkred">
        Limiting Files to 18 numbers to avoid rendering.
      </small>
    </span>
  </div>
</div>
