*{
  display: flex;
}

.file-list{
  width: 90%;
  //height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4%;
  //min-height: 110px;
  place-items: center;
  justify-content: center;
}

.file-list .file{
  width: 90%;
  padding: 2%;
  height: auto;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 12px;
  margin: 0 auto;
  //padding: 2em;
}

.file-list .file .file-icon{
  width: 40px;
  min-width: max-content;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  place-items: center;
  border: 1px solid rgba(41, 63, 75, 0.2);
}

@for $child from 1 through 1000{
  .file-list .file:nth-child(#{$child}){
    $stroke-color : rgb(random(255),random(255),random(255),0.5);
    color: $stroke-color;
    fill: $stroke-color;
  }
}

.file-list .file .details{
  width: 60%;
  flex-direction: column;
  justify-content: start;
  place-items: baseline;
  font-family: Nunito, sans-serif;
  overflow: clip;
  color: black;

  &>*:first-child{
    font-weight: normal;
    font: inherit;
  }
  &>*:nth-child(2){
    font-weight: normal;
    font: inherit;
    font-size: smaller;
    color: #8d8d8d;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    width: 165px;
  }
  &>*:nth-child(3){
    font-weight: normal;
    font: inherit;
    font-size: smaller;
    color: #8d8d8d;
  }



}

