
<h3 mat-dialog-title>
  Change Password.
</h3>

<table>
  <tr>
    <td>
      <span class="error-display-container" style="background-color: #5BD67C!important;color: white!important;" *ngIf="infoText!=''" @SlideUpDown>
        <label>
          {{infoText}}
        </label>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="error-display-container" *ngIf="errorText!=''" @SlideUpDown>
        <label>
          {{errorText}}
        </label>
      </span>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        Enter your old and new password.
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <span class="sign-up-input">
        <input placeholder="Username" [formControl]="username" />
      </span>
    </td>
  </tr>

    <tr>
      <td>
        <span class="sign-up-input">
          <input placeholder="Old Password" type="password" [formControl]="oldPassword"/>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="sign-up-input">
          <input type="{{showPassword?'':'password'}}" placeholder="New Password" [formControl]="newPassword"/>
          <span class="suffix-icon">
            <button *ngIf="!showPassword;else hidePassword" (click)="showPassword = true" mat-icon-button>
              <mat-icon><i class="ph-eye"></i></mat-icon>
            </button>
            <ng-template #hidePassword>
              <button mat-icon-button (click)="showPassword = false">
                <mat-icon><i class="ph-eye-slash"></i></mat-icon>
              </button>
            </ng-template>

          </span>
        </span>
      </td>
    </tr>

</table>


<mat-dialog-actions align="end">
  <button mat-button [disabled]="!(oldPassword.valid && newPassword.valid) || loading" (click)="ChangePassword()">
    Change Password
  </button>
</mat-dialog-actions>
