

<span class="error-image">
  <img src="../../../../../assets/gifs/error_icon.gif">
</span>

<span>
  <label>
    Oops...Something has happened!
    <br>
    Please try again
  </label>
</span>

<mat-divider>
</mat-divider>

<span style="width: 100%;justify-content: center;margin: 2%">
  <button mat-flat-button
          class="app-button"
          (click)="Reload()"
          style="
            width: 60%;
            background: #6AC5AB;
            border: 2px solid #293F4B;border-radius: 12px">
    Retry
  </button>
</span>

