

<span class="title">
  <img src="https://media.tenor.com/PBcGjKppnacAAAAd/pixel-art.gif">
  <h3>
    Big Transfer,<br>
    Bigger Impact
  </h3>
  <span class="b12a">
    <small>
      The simplest way to send large files around the world, and discover new creative work while you are at it!
    </small>
    <button class="app-button action-button" [routerLink]="'/select'">
      <b>Send a file</b>
    </button>
  </span>
</span>

<span class="ay212">
  <span class="az212">
    <h2>
      Send Files to anyone around the world for Free!!
    </h2>
  </span>
  <span class="az2t3">
    <small>
      Send upto 2GB of files for free.
    </small>
    <small>
      2X faster upload.
    </small>
    <small>
      Generate a link or just Email your transfer
    </small>
  </span>
</span>

<span class="ay212" style="justify-content: center;height: 100vh;width: 100%;color: white">
  <img class="ab-img" src="https://www.10wallpaper.com/wallpaper/1440x900/1204/High_mountain-forest_landscape_wallpaper_1440x900.jpg"/>
  <span class="az212">
    <h1 style="font-size: 2.4em">
      Stories
    </h1>
  </span>
  <span class="az212">
    <small>
      Discover Ideas
    </small>
  </span>
  <span class="az212">
    <a
      href="https://stories.zipzapzwoop.com/"
      class="app-button action-button"
      style="background: #504f6d;border: 0">
      Read Stories
    </a>
  </span>
</span>


<span class="bottom-nav">
  <img class="ic_app_logo" src="assets/icons/ic_app_logo.png"/>

  <span class="links">
    <a href="https://stories.zipzapzwoop.com" target="_blank">
      Stories
    </a>
    <a href="https://we.zipzapzwoop.com/terms" target="_blank">
      Terms & Conditions
    </a>
    <a href="https://we.zipzapzwoop.com/privacy" target="_blank">
      Privacy
    </a>
    <a href="https://we.zipzapzwoop.com" target="_blank">
      About
    </a>
  </span>

</span>


