

<div class="masker">
  <span id="mask-1" style="height: 75vh">
    <span class="header-box">
      <span class="title-container">
        <h5 style="color: #504F6D">
          Big Transfers,<br>
          Bigger Impact
        </h5>
        <p>
          <small>The simplest way to send large files around the world, and discover new creative work while you are at it!</small>
        </p>
        <button style="width: max-content;padding: 2%" class="app-button action-button" [routerLink]="'/select'">
          <b>Send a file</b>
        </button>

      </span>
    </span>
    <img class="image-clipper" src="assets/gifs/zeEardx.gif">



    <svg width="800" viewBox="0 0 370 500">
<!--      scale(0.002665458325559,0.002866561559409)-->
      <clipPath id="clipPath1" clipPathUnits="objectBoundingBox" transform="scale(0.002665458325559,0.0023)">
        <path d="M39.9597 267.211L-0.0859375 299.81L-0.0834761 0.421875H375.087V436.947L362.046 410.129C355.088 395.818 344.02 383.909 330.257 375.921L130.621 260.061C101.853 243.365 65.7552 246.212 39.9597 267.211Z"></path>
      </clipPath>
    </svg>

<!--    <svg width="800" viewBox="0 0 370 500" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M39.9597 267.211L-0.0859375 299.81L-0.0834761 0.421875H375.087V436.947L362.046 410.129C355.088 395.818 344.02 383.909 330.257 375.921L130.621 260.061C101.853 243.365 65.7552 246.212 39.9597 267.211Z" fill="black"/>-->
<!--      &lt;!&ndash;            fill="#C4C4C4"&ndash;&gt;-->
<!--    </svg>-->

  </span>

  <span id="mask-2">
    <svg width="800" viewBox="0 0 370 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M375.174 348.847L367.153 320.124C362.605 303.839 354.853 288.625 344.352 275.374C331.5 259.156 314.883 246.321 295.943 237.985L161.821 178.953C110.822 156.506 53.5796 152.593 0 167.892V12.9778C0 6.36303 5.35292 0.995686 11.9677 0.977878L363.141 0.0324654C369.781 0.0145895 375.174 5.39238 375.174 12.0324V348.847Z"
            fill="#C4C4C4"
      ></path>
      <!--            fill="#C4C4C4"-->
    </svg>
  </span>

  <span id="mask-3">
    <svg width="800" viewBox="0 0 370 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-210.898 19.9214C-125.862 73.4737 -16.8033 16.5594 163.359 2.15071C170.806 1.43028 178.493 1.19013 186.18 1.43028C320.941 5.75289 441.29 107.574 585.9 79.4774" stroke="#E4E4E6" stroke-miterlimit="10"/>
    </svg>

  </span>

  <div class="content-container">
    <div class="content">
      <label class="abc12">
        Send files to anyone
      </label>
      <span class="abc13">
        <small>Send up to 2GB of files for free</small>
        <small>2x faster upload</small>
        <small>Generate a link or just Email your transfer</small>
        <small>Experience the premium feature by signing up</small>
      </span>
    </div>
  </div>

  <span id="mask-rev-1">

    <img class="image-clipper" src="assets/gifs/screen_base2.gif">

    <svg width="800" viewBox="0 0 370 500">
      <clipPath id="clipPath1" clipPathUnits="objectBoundingBox" transform="scale(0.002665458325559,0.0023)">
        <path transform="rotate(-10 50 100)" d="M39.9597 267.211L-0.0859375 299.81L-0.0834761 0.421875H375.087V436.947L362.046 410.129C355.088 395.818 344.02 383.909 330.257 375.921L130.621 260.061C101.853 243.365 65.7552 246.212 39.9597 267.211Z"></path>
      </clipPath>
    </svg>


<!--    <svg width="800" viewBox="0 0 370 500" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--      <path d="M39.9597 267.211L-0.0859375 299.81L-0.0834761 0.421875H375.087V436.947L362.046 410.129C355.088 395.818 344.02 383.909 330.257 375.921L130.621 260.061C101.853 243.365 65.7552 246.212 39.9597 267.211Z"-->
<!--            fill="green"/>-->
<!--    </svg>-->
<!--    -->

  </span>

  <span id="mask-rev-2">
    <svg width="800" viewBox="0 0 370 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M375.174 348.847L367.153 320.124C362.605 303.839 354.853 288.625 344.352 275.374C331.5 259.156 314.883 246.321 295.943 237.985L161.821 178.953C110.822 156.506 53.5796 152.593 0 167.892V12.9778C0 6.36303 5.35292 0.995686 11.9677 0.977878L363.141 0.0324654C369.781 0.0145895 375.174 5.39238 375.174 12.0324V348.847Z"
            fill="#C4C4C4"
      />
      <!--            fill="#C4C4C4"-->
    </svg>
  </span>

  <span id="mask-4">
      <span class="az212">
        <h1 style="font-size: 1.4em">
          Stories
        </h1>
      </span>
      <span class="az212">
        <small>
          Discover Ideas
        </small>
      </span>
      <span class="az212">
        <button style="width: max-content;padding: 2%" class="app-button action-button" [routerLink]="'https://stories.zipzapzwoop.com/'">
          <b>
            <a
              href="https://stories.zipzapzwoop.com/">
                Read Stories
            </a>
          </b>
        </button>

      </span>

    <img src="assets/icons/abstract.png"/>
  </span>
</div>

<div class="tracker-body" #trackerBody>

  <span>
    <h1 class="bigger-transfer">
    Introducing Tracker.
    </h1>
    <h3 class="sub-note">
      The Easiest way track <br> your transfer.<br>
      (Only on Desktop and Signed In users)
    </h3>
  </span>

  <img class="img" src="assets/icons/tracker.png"
       ScrollOnView [scrollRefByParent]="trackerBody" [animationClassName]="'img-animation'" >

</div>




<span class="bottom-nav">
  <img class="ic_app_logo" src="assets/icons/ic_app_logo.png"/>

  <span class="links">
    <a href="https://stories.zipzapzwoop.com" target="_blank">
      Stories
    </a>
    <a href="https://www.linkedin.com/in/mohammed-hashim790/" target="_blank">
      Contact
    </a>
    <a href="https://we.zipzapzwoop.com/terms" target="_blank">
      Terms & Conditions
    </a>
    <a href="https://we.zipzapzwoop.com/privacy" target="_blank">
      Privacy
    </a>
    <a href="https://we.zipzapzwoop.com" target="_blank">
      About
    </a>


  </span>

</span>





<!--<span class="title">-->
<!--  <img src="https://media.tenor.com/PBcGjKppnacAAAAd/pixel-art.gif">-->
<!--  <h3>-->
<!--    Big Transfer,<br>-->
<!--    Bigger Impact-->
<!--  </h3>-->
<!--  <span class="b12a">-->
<!--    <small>-->
<!--      The simplest way to send large files around the world, and discover new creative work while you are at it!-->
<!--    </small>-->
<!--    <button class="app-button action-button" [routerLink]="'/select'">-->
<!--      <b>Send a file</b>-->
<!--    </button>-->
<!--  </span>-->
<!--</span>-->

<!--<span class="ay212">-->
<!--  <span class="az212">-->
<!--    <h2>-->
<!--      Send Files to anyone around the world for Free!!-->
<!--    </h2>-->
<!--  </span>-->
<!--  <span class="az2t3">-->
<!--    <small>-->
<!--      Send upto 2GB of files for free.-->
<!--    </small>-->
<!--    <small>-->
<!--      2X faster upload.-->
<!--    </small>-->
<!--    <small>-->
<!--      Generate a link or just Email your transfer-->
<!--    </small>-->
<!--  </span>-->
<!--</span>-->

<!--<span class="ay212" style="justify-content: center;height: 100vh;width: 100%;color: white">-->
<!--  <img class="ab-img" src="https://www.10wallpaper.com/wallpaper/1440x900/1204/High_mountain-forest_landscape_wallpaper_1440x900.jpg"/>-->
<!--  <span class="az212">-->
<!--    <h1 style="font-size: 2.4em">-->
<!--      Stories-->
<!--    </h1>-->
<!--  </span>-->
<!--  <span class="az212">-->
<!--    <small>-->
<!--      Discover Ideas-->
<!--    </small>-->
<!--  </span>-->
<!--  <span class="az212">-->
<!--    <a-->
<!--      href="https://stories.zipzapzwoop.com/"-->
<!--      class="app-button action-button"-->
<!--      style="background: #504f6d;border: 0">-->
<!--      Read Stories-->
<!--    </a>-->
<!--  </span>-->
<!--</span>-->





