
<span class="illustrations">
  <svg width="1512" height="982" viewBox="0 0 1512 982" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.08">
      <circle cx="491.653" cy="491.653" r="491.153" stroke="black"/>
      <circle cx="1474" cy="491.653" r="491.153" stroke="black"/>
      <circle cx="492.614" cy="245.827" r="245.327" stroke="black"/>
      <circle cx="492.614" cy="737.48" r="245.327" stroke="black"/>
      <rect y="491.653" width="1382.78" height="0.960261" fill="black"/>
      <circle cx="984.267" cy="245.827" r="245.327" stroke="black"/>
      <circle cx="984.267" cy="737.48" r="245.327" stroke="black"/>
      <rect x="982.347" width="0.960261" height="983.307" fill="black"/>
      <rect x="737.48" width="0.960261" height="983.307" fill="black"/>
      <rect x="1230.09" width="0.960261" height="983.307" fill="black"/>
      <rect x="491.653" width="0.960261" height="983.307" fill="black"/>
      <rect x="153.642" width="0.960261" height="983.307" fill="black"/>
      <rect x="246.787" width="0.960261" height="983.307" fill="black"/>
      <rect y="245.827" width="1382.78" height="0.960261" fill="black"/>
      <rect y="737.48" width="1382.78" height="0.960261" fill="black"/>
    </g>
  </svg>

</span>


<div class="promotions">

<!--  <button class="app-button" (click)="SampleFunction()">Click Me</button>-->

  <iframe @fadeInOut *ngIf="count == 0;else next" src="../../../../assets/backdrops/backdrop-2/backdrop.html"></iframe>
  <ng-template #next>
    <iframe @fadeInOut *ngIf="count == 1" src="../../../../assets/backdrops/backdrop-1/backdrop.html"></iframe>
  </ng-template>

</div>
