:host{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  /*z-index: -1;*/
  display: flex;
  justify-content: center;
  place-items: center;
}

:root{
  --promotion-left-em: calc(360px + 5em);
}
iframe{
  width: 100%;
  justify-content: start;
  display: flex;
  height: 100%;
  overflow: hidden;
  /*background: #504f6d;*/
}

iframe{
  border: none;
  position: absolute;
  z-index: 1;
  /*disables pointer preferences*/
  /*pointer-events: none;*/
}

.promotions iframe > *{
  overflow: hidden;
}

#right-most{
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  background: #2196F3;
}
.image{
  width: 30%;
  height: 30%;
  background: #20FF00;
  display: block;
}

.illustrations{
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  overflow: clip;
  display: flex;
  justify-content: center;
  background-repeat: round;
  /*background: url("../../../../assets/backdrops/backdrop-1/assets/backdrop-asset.svg");*/
}
.illustrations > *{
  width: 100%;
  /*transform: scale(1.5);*/
  /*overflow: hidden;*/
}
.illustrations img{
  background-repeat: repeat;
}

.wallpaper-container{
  width: 100%;
  height: 100%;
  /*opacity: 0;*/

}

.wallpaper-container-enter{
  animation: open 500ms ease-in forwards;
}

.wallpaper-container-exit{
  opacity: 0 !important;
  transition: opacity 500ms ease-in;

}

@keyframes open {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.drag-zone{
  width: 100%;
  height: 100%;
  /*background: #A65574;*/
  z-index: 10;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .promotions{
    height: 50%;

  }
}

