
<h3 mat-dialog-title>
  Enter your username.
</h3>

<table>
  <tr>
    <td>
      <span class="error-display-container" style="background-color: #5BD67C!important;color: white!important;" *ngIf="infoText!=''" @SlideUpDown>
        <label>
          {{infoText}}
        </label>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="error-display-container" *ngIf="errorText!=''" @SlideUpDown>
        <label>
          {{errorText}}
        </label>
      </span>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        Enter your username to reset your password.
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <span class="sign-up-input">
        <input placeholder="Username" [formControl]="username" [disabled]="!otpSent"/>
      </span>
    </td>
  </tr>

  <ng-container *ngIf="otpSent && username.disabled && otpSentResult!=undefined">
    <tr>
      <td>
        <span class="sign-up-input">
          <input placeholder="Code" [formControl]="code" [disabled]="!otpSent"/>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="sign-up-input">
          <input placeholder="New Password" type="password" [formControl]="password" [disabled]="!otpSent"/>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="sign-up-input">
          <input placeholder="Confirm Password" [formControl]="confirmPassword" [disabled]="!otpSent"/>
        </span>
        <small style="font-size: 10px;color: #aeaeae">
          Confirm password and password must be same to reset password
        </small>
      </td>
    </tr>
  </ng-container>

</table>



<mat-dialog-actions align="end" *ngIf="!otpSent && username.enabled && otpSentResult==undefined;else resetAction">
  <button mat-button (click)="SendOtp()">
    Send OTP
  </button>
</mat-dialog-actions>

<ng-template #resetAction>
  <mat-dialog-actions align="end">
    <button mat-button
            (click)="resetTimer(true)"
            [disabled]="countdownTimer>0">
      Resend Code {{countdownTimer>0?'(' + countdownTimer + ')':''}}
    </button>
    <button mat-button [disabled]="!(code.valid && password.valid && confirmPassword.valid) || loading" (click)="ResetPassword()">
      Reset Password
    </button>
  </mat-dialog-actions>
</ng-template>
