:host{
  min-width: 400px;
  max-width: 400px;
  display: block;
}

table{
  width: 90%;
  margin: auto;
  display: block;
}
p{
  width: 100%;
  word-wrap: break-word;
}
p b{
  word-wrap: break-word;
  word-break: break-all;
  text-align: justify;
  text-justify: distribute;
}

@media screen  and (max-width: 480px) {
  :host{
    min-width: unset;
    max-width: 480px;
    display: block;
  }

}
