

<div class="container">
  <mat-list class="nav-bar">
    <a routerLink="/" class="button-link">
      <span class="button-wrapper">
        <mat-icon>keyboard_backspace</mat-icon>
        <span>Back to Home</span>
      </span>
    </a>
    <button mat-button>
      <span class="button-wrapper">
        <mat-icon><i class="ph-user"></i></mat-icon>
        <span >Profile</span>
      </span>
    </button>

    <button mat-button>
      <span class="button-wrapper">
        <mat-icon><i class="ph-git-branch"></i></mat-icon>
        <span >My Transfers</span>
      </span>
    </button>

    <button mat-button>
      <span class="button-wrapper">
        <mat-icon>bug_report</mat-icon>
        <span>Report / Review</span>
      </span>
    </button>


    <button mat-button>
      <span class="button-wrapper">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </span>
    </button>

  </mat-list>

</div>
