*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:host {
  height: 100%
}


html,body{
  min-width: 700px;
  height: 100%;
  position: relative;
  overflow-x: hidden !important;
  /*background: black;*/
  /*padding: unset !important;*/
}

#z3-drop-zone{
  width: 100vw;
  height: 100vh;
  background: #504f6d;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  visibility: hidden;
  display: none;
  text-align: center;
  justify-content: center;
  place-items: center;
  color: white;
  font-size: 5em;
}


.backdrop-image{
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 140%;

  transform: translate(-50%,-50%);
  z-index: -1;
  /*background: #A65574;*/
}

button{
  background: none;
  border: none;
  cursor: pointer;
}
nav{
  margin: auto;
  padding: 30px;
  /*background: cornflowerblue;*/
  display: flex;
  flex-direction: row;
}

nav img{
  width: 50px;
  height: 50px;
  border-radius: 0.5em;
  background: #504f6d;
}

nav > *{
  width: 100%;
  /*background: rebeccapurple;*/
  display: flex;
  flex-direction: row;
  place-items: center;

}


.link{
  font-size: medium;
  font-weight: bold;
  font-family: Nunito, sans-serif;
  transition: all 500ms linear;
}

.nav-link{
  color: rgba(0, 0, 0, 0.4);
  margin: 0 1em;
}


.dark-mode{
  color: white !important;
  background: #2F2F2F !important;
}


.dark .link{

}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}
.link:active{
  color: #B14048;
}

.divider-with-text:before,.divider-with-text:after{
  content: '';
  width: 30%;
  margin: 2%;
  height: unset;
  border: 1px solid #DBDBDB;
}

.divider-with-text{
  width: 98%;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: row;
  /*margin: auto;*/
  justify-content: center;
  place-items: center;
  /*color: #DBDBDB;*/
  font-family: Nunito;
}

.error-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  justify-content: center;
  overflow: clip;
  box-shadow: 0 0 0.3em black;
}



.federated-sign-ins{
  width: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
}
.federated-sign-ins button{
  min-width: 125px;
  min-height: 45px;
  background: white;
  border-radius: 5px;
  border: 2px solid #A65574;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background: none;
}

.sign-up-input,.sign-up-label{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  position: relative;
  place-items: start;
  justify-content: center;
}
.sign-up-input input,.sign-up-input textarea,.sign-up-label .value{
  width: 90% !important;
  background: none;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 0.8em;
  flex: unset !important;
  overflow: clip;

}

.sign-up-input label,.sign-up-label .title{
  background: white;
  position: absolute;
  top: 20px;
  left: 3%;
  transform: translateY(-50%);
  color: #cacaca;
  transition: all 300ms ease-in-out;
}

.sign-up-input input:focus ~ label,
.sign-up-input textarea:focus ~ label,
.sign-up-input input:valid ~ label,
.sign-up-input textarea:valid ~ label,
.sign-up-label .title
{
  color: rgba(0, 0, 0, 0.5);
  top: -12px;
  transform: scale(0.8);
  left: 1%;
}


.sign-up-input textarea{
  min-height: 5em;
}
.sign-up-input .suffix-icon,.sign-up-label .suffix-icon{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.sign-up-input mat-error{
  font-size: smaller;
}

.app-button{
  color: white;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  justify-content: center;
  background: #B14048;
  cursor: pointer;
  font-family: Nunito,sans-serif;
  transition: all 1s linear;
}

.app-button:disabled{
  opacity: 0.5;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.mat-form-field{
  width: 90%;
}
mat-divider{
  width: 100%;
}
.loader{
  width: 30px;
  height: 30px;
  display: block;
  margin: 5px auto;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  animation: rotateInf 1s linear infinite forwards;
}
@keyframes rotateInf {
  0%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(180deg);
  }

  100%{
    transform: rotate(360deg);
  }
}


.cut-out-banner{
  width: 100%;
  height: 10em;
  position: absolute !important;
  top: -1em;
  right: 0;
  display: flex;
  justify-content: end;
}
#clip-path{

}
.cut-out-banner .top-image-trimmer{
  width: 100%;
  background: #C4C4C4;
  position: absolute;
  height: inherit;
  z-index: -999;
  right: 3em;
  top: 1em !important;
  clip-path: url(#clip-path);
}
.cut-out-banner .bottom-image-trimmer{
  top: 2em !important;
  right: -3em;
  transform: rotate(10deg);
}

.cut-out-banner .top-image-trimmer img{
  width: 150%;
  object-fit: contain;
}

.cut-out-banner span,.cut-out-banner div{
  width: max-content;
  position: absolute;
  background: transparent;
  right: 0;
}

.cut-out-banner span:first-child,.cut-out-banner div:first-child{
  top: 0;
  z-index: 2;
}

.cut-out-banner span:nth-child(2){
  z-index: 3;
  top: 60%;
}

.cut-out-banner span:nth-child(3){
  z-index: 3;
  top: 60%;
}

.cut-out-banner span:nth-child(4){
  top: 5em;
  z-index: 1;
}

.sign-up-content{
  background: transparent;
  width: 100%;
  position: absolute !important;
  height: max-content;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  overflow-x: hidden;
  z-index: 20;
}
.disabled{
  color: white !important;
}
.error-display-container{
  /*width: max-content;*/
  max-width: 100%;
  word-wrap: break-word;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  border-radius: 2em;
  background: rgba(255, 0, 0, 0.18);
  color: red;
  text-align: center;
  place-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.action-button{
  width: 90%;
  background: #6AC5AB;
  border: 2px solid #293F4B;
  border-radius: 12px;
  color: white;
  text-align: center;
  justify-content: center;
}


.profile-button{
  width: 3em;
  height: 3em;
  border: 4px white solid;
  border-radius: 50%;
  background: linear-gradient(to right,darkslateblue,violet);
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: 0 0 10px 2px slategray;

  color: white;
  /*MAX COMPATIBILITY*/
  background: rgb(189,150,255);
  background: -moz-linear-gradient(127deg, rgba(189,150,255,1) 0%, rgba(27,1,48,1) 40%, rgba(0,35,73,1) 100%);
  background: -webkit-linear-gradient(127deg, rgba(189,150,255,1) 0%, rgba(27,1,48,1) 40%, rgba(0,35,73,1) 100%);
  background: linear-gradient(127deg, rgba(189,150,255,1) 0%, rgba(27,1,48,1) 40%, rgba(0,35,73,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bd96ff",endColorstr="#002349",GradientType=1);

}





/*mobiles*/
@media screen and (max-width: 500px){
  html,body{
    background-color: white;
    overflow-y: auto;
  }

  nav > *{
    width: 100%;
    /*background: rebeccapurple;*/
    display: flex;
    flex-direction: row-reverse;
  }

  .validate-button-container{
    width: 100%;
    /*max-height: 5%;*/
    padding: 3% 0;
    justify-content: center;
    place-items: center;
    position: fixed !important;
    bottom: 0;
    background-color: white;
    flex-direction: row;
  }

  .validate-button-container button{
    width: 90%;
    margin: 2%;
    text-align: center;
  }
  .validate-button-container .action-button{
    width: 90%;
    background: #6AC5AB;
    border: 2px solid #293F4B;
    border-radius: 12px;
    color: white;
  }
  .validate-button-container .action-button a{
    color: white;
  }

  .terms-and-conditions{
    flex-direction: column;
    width: 100%;
  }

  .terms-and-conditions .actions{
    width: 100% !important;
  }
  /*.tiny-ad-container{*/
  /*  display: none !important;*/
  /*}*/
  /*.bottom-ad-container{*/
  /*  display: none !important;*/
  /*}*/


}

/*Tabs*/
@media screen and (max-width: 1024px){
}



.tiny-ad-container{

  top: 50%;
  transform: translateY(-50%);

  /*background-color: #A65574;*/


  right: 0;

  float: right;
  position: fixed;
  display: block;
}

.bottom-ad-container{
  transform: translateX(-50%);

  /*width: 1000px;*/
  /*height: 100px;*/

  /*background-color: #A65574;*/

  right: 0;
  left: 50%;

  float: right;
  position: fixed;
  display: block;
}

.bottom{
  right: 0;
  bottom: 0;
}
.right{
  display: inline-block;
  width: 300px;
  height: 70%;
  /*min-width: 50px;*/
  /*width: max-content;*/
}

input[disabled]{
  opacity: 0.5;
}

.my-transfer-attachment-viewer{
  width: 200px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 7px slategray;
  overflow: clip;
  background-color: #F8F8F8;
  padding: 2%;
  transition: all 1ms ease-in-out;
  cursor: pointer;
}
.my-transfer-attachment-viewer:hover{
  box-shadow: 0 0 7px 3px slategray;
  transform: scale(1.01);
}
.my-transfer-attachment-viewer img,.my-transfer-attachment-viewer mat-icon{
  width: 30%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.my-transfer-attachment-viewer mat-icon{
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  place-items: center;
}
.my-transfer-attachment-viewer ._content{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*background-color: #b0d8ff;*/
}
.my-transfer-attachment-viewer ._content .header{
  width: 100%;
  padding: 4px;
}
.my-transfer-attachment-viewer ._content .details{
  width: 100%;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.my-transfer-attachment-viewer ._content .details >* {
  width: 100%;
  text-align: start;
  overflow: hidden;
  color: #9A9A9A;
}



/***
* Styles for Navigation Drawer
*/

.drawer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  /*background-color: #6AC5AB;*/
}

.drawer .header{
  width: 92%;
  min-height: 30%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  /*background-color: #54656F;*/
  justify-content: center;
  place-items: center;
  border-bottom: 1px solid #9A9A9A;
}
.drawer .header .icon{
  /*width: 80%;*/
  height: 100px;
  transform: scale(1.6);
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.7));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.7));
}
.drawer .header .username{
  text-align: center;
  font-weight: lighter;
  font-size: 1.0em;
  color: #2F2F2F;
}

.drawer .items{
  width: 92%;
  height: 30%;
  padding: 4%;
  display: flex;
  flex-direction: column;
}

.drawer .items .drawer-item{
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  place-items: center;
  padding: 2%;
}

.drawer .items .drawer-item *{
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.0rem;
  font-weight: lighter;
}
.drawer .items .drawer-item .icon{
  width: 20%;
  height: 100%;
  justify-content: center;

}
.drawer .items .drawer-item .icon i{
  text-align: center;
  justify-content: center;
}
.drawer .items .drawer-item .item-label{
  width: 80%;

  height: 100%;
}

.drawer .bottom-items{
  position: absolute;
  bottom: 0;
  height: max-content;
  /*background-color: #995700;*/
}






/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
